<?xml version="1.0" ?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find a_3d_model_world_plugin_launch)/worlds/bot_world_friction_issue.world"/>
     <arg name="paused" value="true"/>
     <arg name="verbose" value="true"/>
    <!-- more default parameters can be changed here -->
  </include>
</launch>

<!-- at the end of the launch cmd extra_gazebo_args:="- -verbose" -->

